
RoverExcercise4/.vs/VSWorkspaceState.json
RoverExcercise4/CppProperties.json
RoverExcercise4/.vs/slnx.sqlite
RoverExcercise4/.vs/RoverExcercise4/v16/Browse.VC.db
RoverExcercise4/.vs/RoverExcercise4/v16/.suo
RoverExcercise4/.vs/ProjectSettings.json
